<template>
  <v-container fluid grid-list-lg text-xs-center>
    <Navbar></Navbar>
    <Carousel ></Carousel>
    <ImageGrid></ImageGrid>
    <Footer></Footer>
  </v-container>
</template>

<script>
import Navbar from "./components/Header/Navbar";
import Carousel from "./components/Header/Carousel";
import ImageGrid from "./components/ImageGrid/ImageGrid";
import Footer from "./components/Footer/Footer";

export default {
  name: 'app',
  data () {
    return {
      
    }
  },
  components: {
    Carousel,
    Navbar,
    ImageGrid,
    Footer
  }
}
</script>

<style lang="scss">
  .container{
    padding: 0;
  }
</style>
