    
<template>
        <draggable draggable=".item" class="imageGrid">
            <v-flex xs4 class="item">
                <v-card dark color="primary">
                    <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="2.75"></v-img>
                    <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Introduction to Habitat</h3>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul</div>
                    </div>
                    </v-card-title>

                    <v-card-actions>
                    <v-btn flat color="orange">Read More</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs4 class="item">
                <v-card dark color="primary">
                    <v-img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" aspect-ratio="2.75"></v-img>
                    <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Modules</h3>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul</div>
                    </div>
                    </v-card-title>

                    <v-card-actions>
                    <v-btn flat color="orange">Read More</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
            <v-flex xs4 class="item">
                <v-card dark color="primary">
                    <v-img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" aspect-ratio="2.75"></v-img>
                    <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">Getting Started</h3>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul</div>
                    </div>
                    </v-card-title>

                    <v-card-actions>
                    <v-btn flat color="orange">Read More</v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </draggable>
</template>

<script>
import draggable from "vuedraggable";

export default {
  components: {
    draggable
  },
  data() {
    return {
        data: [{
                title1 : 'Introduction to Habitat',
                details1 : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul' ,
                title2 : 'Modules',
                details2 : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul' ,
                title3 : 'Getting Started',
                details3 : 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Felis eget nunc lobortis mattis aliquam faucibus purus in. Mattis pellentesque id nibh tortor id aliquet lectus proin. Neque convallis a cras semper auctor. Mattis ullamcorper velit sed ul' 
        }
                
        ],
    };
  },
  methods: {
   
  },
  computed: {
   
  },
  watch: {
    
  }
};
</script>

<style>
.imageGrid{
    margin: 5%!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item{
    margin: 10px;
}
</style>